- chart_id = SecureRandom.hex(4)
%div{ style: 'width: 100px; height: 100px' }
  %canvas{ id: chart_id, width: 100, height: 100 }
.head_and_tail
  %table.tally.head
    %tbody
      - head(rows).each do |row|
        %tr
          %td.percent= number_to_percentage(row[0], :precision => 1)
          %th.value= row[1]
    - if rows.size > head_size
      %tfoot
        %tr
          %td{:colspan => 2}
            = link_to 'Show more...', '#', :class => :show_tail
  %table.tally.tail{:style => "display: none"}
    %tbody
      - tail(rows).each do |row|
        %tr
          %td.percent= number_to_percentage(row[0], :precision => 1)
          %th.value= row[1]
:javascript
  $(function() {
    var data = {
      labels: #{rows.map(&:last).to_json},
      datasets: [
        {
          data: #{rows.map(&:first).to_json},
          backgroundColor: [
            "#F7464A",
            "#46BFBD",
            "#FDB45C"
          ],
          hoverBackgroundColor: [
            "#FF5A5E",
            "#5AD3D1",
            "#FFC870"
          ]
        }]
    };
    window.myDoughnutChart = new Chart($("##{chart_id}"), {
      type:'doughnut',
      data: data,
      options: {
        tooltips: {
          enabled: false,
          custom: Chart.defaults.global.customTooltips
        },
        legend: {
          display: false
        }
      }
    });
  });
